@headline-font: 'Raleway', 'Arial', sans-serif;
@body-font: 'Open Sans', 'Arial', sans-serif;
@page-width: 900px;
@dark-background-color: #3c3f55;
@dark-background-text-color: #e6ecff;


.clear {
    &::before, &::after {
        content:"";
        display:table;
    }
    &::after {
        clear:both;
    }
}
