html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: #303030;
  line-height: 1.4;
}
h1,
h2 {
  font-family: 'Raleway', 'Arial', sans-serif;
}
p {
  margin-bottom: 0.5em;
}
@media print {
  p {
    font-size: 13px;
  }
}
.no-break {
  break-inside: avoid;
}
.tech-used {
  list-style-type: none;
  display: inline-flex;
  font-size: 13px;
}
@media print {
  .tech-used {
    font-size: 11px;
  }
}
.tech-used .tech {
  padding: 2px 5px;
  margin: 0 0.5em 0.5em 0;
  cursor: default;
  border: 1px solid #dfdfdf;
  border-radius: 1em;
  transition: 0.2s background;
}
.tech-used .tech:hover,
.tech-used .tech.active {
  background: #dfdfdf;
}
header {
  padding: 20px 0;
  background: #3c3f55;
  color: #e6ecff;
  font-family: 'Raleway', 'Arial', sans-serif;
  border-bottom: 4px solid #e6ecff;
}
@media print {
  header {
    background: transparent;
    border-color: #cccccc;
    color: #303030;
    padding: 0 0 10px;
  }
  header .cv-suffix {
    display: none;
  }
}
header .inner {
  max-width: 800px;
  margin: auto;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 420px) {
  header .inner {
    display: block;
    margin-top: 10px;
  }
}
header #name {
  font-size: 32px;
  line-height: 1;
}
@media only screen and (max-width: 420px) {
  header #name {
    font-size: 22px;
  }
}
@media print {
  header #name {
    font-size: 24px;
  }
}
header #links {
  list-style-type: none;
  display: flex;
}
header #links li.link a {
  text-decoration: none;
  color: inherit;
  text-transform: lowercase;
  border-bottom: 1px dotted #e6ecff;
  transition: 0.4s border-style;
}
header #links li.link a:hover {
  border-style: solid;
}
@media print {
  header #links li.link a {
    border-bottom-color: #303030;
  }
}
header #links li.separator {
  width: 20px;
  text-align: center;
}
header #links li.separator::after {
  content: "·";
  font-weight: bold;
}
header #contact {
  list-style-type: none;
  display: none;
}
@media print {
  header #contact {
    display: block;
  }
}
main {
  max-width: 800px;
  padding: 0 10px;
  margin: 20px auto 0;
  box-sizing: border-box;
}
@media only screen and (max-width: 420px) {
  main {
    margin-top: 10px;
  }
}
main h1 {
  margin-bottom: 15px;
  line-height: 1;
  font-weight: normal;
}
main a {
  text-decoration: none;
  color: #50106a;
  border-bottom: 1px dotted #e0b0ef;
}
main section {
  margin-bottom: 20px;
}
main section h1 {
  border-bottom: 2px dotted #ccc;
  font-size: 24px;
}
@media print {
  main section h1 {
    font-size: 20px;
  }
}
main section h2 {
  font-size: 20px;
}
@media print {
  main section h2 {
    font-size: 18px;
  }
}
main section h3 {
  font-size: 18px;
}
@media print {
  main section h3 {
    font-size: 16px;
  }
}
main .entries h3 {
  margin: 0.25em 0 0.25em;
}
main .entries .entry {
  margin-bottom: 20px;
  break-inside: avoid;
}
main .entries .entry h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .entries .entry .tech-used {
  margin-top: 4px;
}
main .entries .entry .date {
  font-weight: normal;
  margin-left: 0.5em;
  font-size: 0.8em;
}
main .entries .entry .job-description ul {
  padding-left: 1em;
}
main #tech-experience h3 {
  display: inline-block;
  margin-right: 0.25em;
}
main #work-experience h3 {
  margin: 0.25em 0 0.25em;
}
main #work-experience .entry {
  margin-bottom: 20px;
  break-inside: avoid;
}
main #work-experience .entry h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main #work-experience .entry .tech-used {
  margin-top: 4px;
}
main #work-experience .entry .date {
  font-weight: normal;
  margin-left: 0.5em;
  font-size: 0.8em;
}
main #work-experience .entry .job-description ul {
  padding-left: 1em;
}
footer {
  margin: auto;
  padding: 1.5em 0;
  background-color: #3c3f55;
  color: #e6ecff;
}
footer a {
  color: inherit;
}
footer p {
  text-align: center;
  margin-bottom: 0.5em;
  padding: 0;
}
@media print {
  footer {
    display: none;
  }
}
