@import 'variables';


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    font-family: @body-font;
    color: @text-color;
    line-height: 1.4;
}


h1, h2 {
    font-family: @headline-font;
}

p {
    margin-bottom: 0.5em;
    @media print {
        font-size: 13px;
    }
}

.no-break {
    break-inside: avoid;
}


.tech-used {
    list-style-type: none;
    display: inline-flex;
    font-size: 13px;
    @media print {
        font-size: 11px;
    }

    .tech {
        @border-color: #dfdfdf;

        padding: 2px 5px;
        margin: 0 0.5em 0.5em 0;

        cursor: default;
        border: 1px solid @border-color;
        border-radius: 1em;
        transition: 0.2s background;

        &:hover, &.active {
            background: @border-color;
        }
    }
}


header {
    @header-text-color: @dark-background-text-color;
    @border-color: @header-text-color;

    padding: 20px 0;
    background: @dark-background-color;
    color: @header-text-color;
    font-family: 'Raleway', 'Arial', sans-serif;
    border-bottom: 4px solid @border-color;

    @media print {
        background: transparent;
        border-color: #cccccc;
        color: @text-color;
        padding: 0 0 10px;

        .cv-suffix {
            display: none;
        }
    }

    .inner {
        max-width: @page-width;
        margin: auto;
        padding: 0 @page-padding;
        box-sizing: border-box;

        display: flex;
        align-items: center;
        justify-content: space-between;
        @media only screen and (max-width: 420px) {
            display: block;
            margin-top: @page-padding;
        }
    }

    #name {
        font-size: 32px;
        line-height: 1;
        @media only screen and (max-width: 420px) {
            font-size: 22px;
        }
        @media print {
            font-size: 24px;
        }
    }

    #links {
        list-style-type: none;
        display: flex;

        li {
            &.link {
                a {
                    text-decoration: none;
                    color: inherit;
                    text-transform: lowercase;
                    border-bottom: 1px dotted @header-text-color;

                    transition: 0.4s border-style;

                    &:hover {
                        border-style: solid;
                    }
                    @media print {
                        border-bottom-color: @text-color;
                    }
                }
            }

            &.separator {
                width: 20px;
                text-align: center;

                &::after {
                    content: "·";
                    font-weight: bold;
                }
            }
        }
    }

    #contact {
        list-style-type: none;

        display: none;
        @media print {
            display: block;
        }
    }
}


main {
    max-width: @page-width;
    padding: 0 @page-padding;
    margin: 20px auto 0;
    box-sizing: border-box;

    @media only screen and (max-width: 420px) {
        margin-top: @page-padding;
    }

    h1 {
        margin-bottom: 15px;
        line-height: 1;
        font-weight: normal;
    }

    a {
        text-decoration: none;
        color: #50106a;
        border-bottom: 1px dotted #e0b0ef;
    }

    section {
        margin-bottom: 20px;

        h1 {
            border-bottom: 2px dotted #ccc;
            font-size: 24px;
            @media print {
                font-size: 20px;
            }
        }

        h2 {
            font-size: 20px;
            @media print {
                font-size: 18px;
            }
        }

        h3 {
            font-size: 18px;
            @media print {
                font-size: 16px;
            }
        }
    }

    .entries {
        h3 {
            margin: 0.25em 0 0.25em;
        }

        .entry {
            margin-bottom: 20px;
            break-inside: avoid;

            h2 {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .tech-used {
                margin-top: 4px;
            }

            .date {
                font-weight: normal;
                margin-left: 0.5em;
                font-size: 0.8em;
            }
        }
    }

    #tech-experience {
        h3 {
            display: inline-block;
            margin-right: 0.25em;
        }
    }

    #work-experience {
        .entries;
    }

    #personal-projects {
        .entries;
    }
}


footer {
    margin: auto;
    padding: 1.5em 0;
    background-color: @dark-background-color;
    color: @dark-background-text-color;

    a {
        color: inherit;
    }

    p {
        text-align: center;
        margin-bottom: 0.5em;
        padding: 0;
    }

    @media print {
        display: none;
    }
}
